.headerContainer
  width: 100vw
  height: 180px
  margin: 0

  .headerContent
    margin: 0 100px
    padding: 50px 0

    .logo img
      width: 80px
      height: 80px
      -webkit-filter: drop-shadow(7px 7px 20px rgba(0,0,0,0.2))
      filter: drop-shadow(7px 7px 20px rgba(0,0,0,0.2))

  .menuContainer
    display: none //FIXME: Implement hamburger menu