<div class="headerContainer">
    <div class="headerContent">
      <div class="logoContainer">
        <a routerLink="" class="logo"><img src="../../assets/Logowhite.svg"></a>
      </div>
  
      <div class="menuContainer">
        <ul class="menu">
          <li class="homeItem"><a routerLink="/">Home</a></li>
          <li class="portfolioItem"><a routerLink="/portfolio">Portfolio</a></li>
          <li class="aboutItem"><a routerLink="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>