.bodyContainer
  width: 100vw
  height: auto
  position: absolute
  z-index: -1

  .card
    width: 80%
    height: 500px
    margin: 0 auto
    background-color: white
    display: block
    border-radius: 20px
    -webkit-filter: drop-shadow(7px 7px 40px rgba(0,0,0,0.15))
    filter: drop-shadow(7px 7px 40px rgba(0,0,0,0.15))
    display: flex
    align-items: center
    overflow: hidden
    margin-bottom: 100px

    .portfolioMeta
      width: calc(50% - 200px)
      padding: 100px
      
      h2
        font-size: 2.5em
        margin-bottom: 30px

      h4
        font-size: 1.5em
        color: #cccccc
        font-weight: 300
        margin-bottom: 30px

    .portfolioImg
      width: 50%
      height: 100%
      background-position: center center
      background-size: cover
      background-repeat: no-repeat

    // List of images for portfolio items based on id
    #spotify 
      background-image: url("../../assets/schipposter.jpg")
    #cartoonAlbums
      background-image: url('../../assets/Cartoonalbums.jpg')


  // Show image on right, left, right, etc.
  .even
    flex-direction: row-reverse

  .odd
    flex-direction: row   

       
/*------------MOBILE STYLES------------*/

@media (max-width:1300px)

  .portfolioMeta
      padding: 50px !important

@media (max-width:981px)

  .card
    width: 90% !important
    height: auto !important
    flex-wrap: wrap
    margin-bottom: 50px !important

    .portfolioMeta
      width: 100% !important
      padding: 30px !important
      
      h2
        font-size: 2em !important
        margin-bottom: 20px !important

      h4
        font-size: 1.1em !important
        margin-bottom: 30px

    .portfolioImg
      width: 100% !important
      height: 30vh !important
