<div class="bodyContainer">

    <div class="contentContainer">

      <div class="card even">
        <div class="portfolioImg" id="spotify"></div>
        <div class="portfolioMeta">
          <h2 class="portfolioTitle">Spotify Redesigned</h2>
          <h4 class="portfolioSubtitle">Webdesign</h4>
          <div class="btn coloredBtn">
              <a routerLink="/portfolio" class="btnLink">Read more</a>
            </div>
        </div>
      </div>

      <div class="card odd">
        <div class="portfolioImg" id="cartoonAlbums"></div>
        <div class="portfolioMeta">
          <h2 class="portfolioTitle">Album covers cartoonized</h2>
          <h4 class="portfolioSubtitle">Illustration</h4>
          <div class="btn coloredBtn">
            <a routerLink="/portfolio" class="btnLink">Read more</a>
          </div>
        </div>
      </div>

      <div class="card even">
        <div class="portfolioImg" id="spotify"></div>
        <div class="portfolioMeta">
          <h2 class="portfolioTitle">Spotify Redesigned</h2>
          <h4 class="portfolioSubtitle">Webdesign</h4>
          <div class="btn coloredBtn">
            <a routerLink="/portfolio" class="btnLink">Read more</a>
          </div>
        </div>
        
      </div>
  
    </div>
  
  </div>