<div class="bodyContainer">

  <div class="backgroundText">
    <p class="noSelect">Sybren <br /> Janssen</p>
  </div>

  <div class="headerContainer">
    <div class="headerContent">
      <div class="logoContainer">
        <a routerLink="" class="logo"><img src="../../assets/Logowhite.svg"></a>
      </div>
    </div>
  </div>

  <div class="contentContainer">

    <h1>Hi, <br />Ik ben Sybren Janssen <br /> Web designer & developer</h1>

    <div class="socialMedia">
      <h3>Neem contact op:</h3>
      <div class="socialIcons">
        <a href="mailto:hi@sybrenjanssen.com"><img src="../../assets/email.svg"></a>
        <a target="_blank" href="https://www.linkedin.com/sybrenjanssen"><img src="../../assets/linkedin.svg"></a>
        <a target="_blank" href="https://www.instagram.com/sybrenjanssen"><img src="../../assets/instagram.svg"></a>
      </div>
    </div>

    <div class="buttonContainer">
      <div class="btn whiteBtn">
        <a routerLink="/portfolio" class="btnLink">Portfolio</a>
      </div>
      <div class="btn transpBtn">
          <a routerLink="/about" class="btnLink">Over mij</a>
        </div>
    </div>

  </div>

</div>
