<div class="bodyContainer">

  <div class="backgroundText">
    <p class="noSelect">Sybren <br /> Janssen</p>
  </div>

  <div class="headerContainer">
    <div class="headerContent">
      <div class="logoContainer">
        <a href="#" class="logo"><img src="../../assets/Logowhite.svg"></a>
      </div>
    </div>
  </div>

  <div class="contentContainer">

    <h1>Hi, <br />Ik ben Sybren Janssen <br /> Web designer & developer</h1>

    <div class="socialMedia">
      <h3>Vind mij op</h3>
    </div>

    <div class="buttonContainer">
      <div class="btn whiteBtn">
        <a href="#" class="btnLink">Portfolio</a>
      </div>
      <div class="btn transpBtn">
          <a href="#" class="btnLink">Contact</a>
        </div>
    </div>

  </div>

</div>
