<div class="bodyContainer">

    <div class="backgroundText">
      <p class="noSelect">Sybren <br /> Janssen</p>
    </div>
  
  
  
    <div class="contentContainer">
  
      <h1>Hi, <br />I'm Sybren Janssen <br /> Web designer & developer</h1>
  
      <div class="socialMedia">
        <h3>Contact me:</h3>
        <div class="socialIcons">
          <a href="mailto:hi@sybrenjanssen.com"><img src="../../assets/email.svg"></a>
          <a target="_blank" href="https://www.linkedin.com/in/sybrenjanssen"><img src="../../assets/linkedin.svg"></a>
          <a target="_blank" href="https://www.instagram.com/sybrenjanssen"><img src="../../assets/instagram.svg"></a>
        </div>
      </div>
  
      <!-- <div class="buttonContainer">
        <div class="btn whiteBtn">
          <a routerLink="/portfolio" class="btnLink">Portfolio</a>
        </div>
        <div class="btn transpBtn">
            <a routerLink="/about" class="btnLink">About</a>
          </div>
      </div> -->
  
    </div>
  
  </div>