/* You can add global styles to this file, and also import other style files */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    outline: 0
    font-size: 100%
    vertical-align: baseline
    background: transparent

::selection
  color: white
  background: #84fab0

body
  font-family: 'Montserrat'

.btn
  font-size: 1.5em
  font-weight: 700

  a
    display: block
    padding: 15px
    min-width: 200px
    max-width: 220px
    border-radius: 100px
    text-decoration: none
    text-align: center
    text-transform: uppercase

.whiteBtn a
  color: black
  background-color: white
  border: 5px solid white
  -webkit-transition: all 0.4s ease
  -moz-transition: all 0.4s ease
  -o-transition: all 0.4s ease
  transition: all 0.4s ease

.whiteBtn a:hover
  color: white
  border: 5px solid rgba(255,255,255,0)
  background-color: rgba(255,255,255,0.4)

.transpBtn a
  color: white
  border: 5px solid white
  -webkit-transition: all 0.4s ease
  -moz-transition: all 0.4s ease
  -o-transition: all 0.4s ease
  transition: all 0.4s ease

.transpBtn a:hover
  color: black
  background-color: white

.coloredBtn a
  background-image: linear-gradient(120deg, #84fab0, #64a1ff)
  opacity: 0.5
  color: white
  -webkit-transition: all 0.4s ease
  -moz-transition: all 0.4s ease
  -o-transition: all 0.4s ease
  transition: all 0.4s ease
  padding: 20px !important

.coloredBtn a:hover
  color: white
  opacity: 1



.noSelect
  -webkit-touch-callout: none /* iOS Safari */
  -webkit-user-select: none /* Safari */
  -khtml-user-select: none /* Konqueror HTML */
  -moz-user-select: none /* Old versions of Firefox */
  -ms-user-select: none /* Internet Explorer/Edge */
  user-select: none /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

.contentContainer
  margin: 50px 100px

  h1
    color: white
    font-weight: 700
    font-size: 5em
    text-shadow: 7px 7px 40px rgba(0,0,0,0.15)


/*------------MOBILE STYLES------------*/

@media (max-width:981px)

  .headerContainer
    height: 110px

    .headerContent
      margin: 0 25px !important
      padding: 25px 0 !important

      .logo img
        width: 60px !important
        height: 60px !important

  .contentContainer
    margin: 25px 25px !important

    h1
      font-size: 2.5em !important

  .btn
    font-size: 1.1em

    a
      padding: 10px
      width: 180px
